<ul class="nav navbar-nav alignTextLeft">
    <li class="dropdown" ng-class="{active:isNavbarActiveViews()}">
        <a id="stopMenu" href="" class="dropdown-toggle" data-toggle="stopMenu">Examples<b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="exampleMenu">
            <li ng-class="{'active':  currentRoute == '/stopwatch'}"><a ng-href="#/stopwatch">Stop Watch</a></li>
            <li ng-class="{'active':  currentRoute == '/stoplight'}"><a ng-href="#/stoplight">Stop Light</a></li>
        </ul>
    </li>
    <li class="dropdown" ng-class="{active:isNavbarActiveViews()}">
        <a id="bigDataMenu" href="" class="dropdown-toggle" data-toggle="bigDataMenu">D3<b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="bigDataMenu">
            <li ng-class="{'active':  currentRoute == '/stockchart'}"><a ng-href="#/stockchart">Stock Chart</a></li>
            <li ng-class="{'active':  currentRoute == '/timeline'}"><a ng-href="#/timeline">Timeline</a></li>
            <li ng-class="{'active':  currentRoute == '/d3map'}"><a ng-href="#/d3map">D3 map</a></li>
        </ul>
    </li>
    <li class="dropdown" ng-class="{active:isNavbarActiveViews()}">
        <a id="animateMenu" href="" class="dropdown-toggle" data-toggle="animateMenu">Animations<b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="animateMenu">
            <li ng-class="{'active':  currentRoute == '/animations'}"><a ng-href="#/animations">Animations</a></li>
            <li ng-class="{'active':  currentRoute == '/treeNodes'}"><a ng-href="#/treeNodes">Tree Menu</a></li>
        </ul>
    </li>
    <li class="dropdown" ng-class="{active:isNavbarActiveViews()}">
        <a id="videomenu" href="" class="dropdown-toggle" data-toggle="videomenu">Video Players<b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="videomenu">
            <li ng-class="{'active':  currentRoute == '/mediaelement'}"><a ng-href="#/mediaelement">Mediaelement</a></li>
            <li ng-class="{'active':  currentRoute == '/flowplayer'}"><a ng-href="#/flowplayer">Flowplayer</a></li>
        </ul>
    </li>
</ul>