/* Styles go here */
.childNode.ng-enter, .childNode.ng-leave {
 -webkit-transition:all 0.5s;
  transition:all  0.5s;
}

.childNode.ng-enter,
.childNode.ng-leave.ng-leave-active {
    opacity:0;
}

.childNode.ng-leave,
.childNode.ng-enter.ng-enter-active {
    opacity:1;
}


/* table animations */
.bb-simple-animation {
	-webkit-transition:all linear 0.2s;
	transition:all linear 0.2s;
	opacity:1;
	padding:10px;
	list-style: none;
}

.bb-simple-animation.bb-cool-trick-add{
  background-color: skyblue;
  background:white;
}

.bb-simple-animation.bb-cool-trick {
	line-height:0;
	padding:0 10px;
	font-size: 16px;
}