/* Styles go here */
.childNode.ng-enter, .childNode.ng-leave {
 -webkit-transition:all 0.2s;
  transition:all  0.2s;
}

.childNode.ng-leave.ng-leave-active,
.childNode.ng-move,
.childNode.ng-enter {
  opacity:0;
  max-height:0;
}

.childNode.ng-leave,
.childNode.ng-enter.ng-enter-active {
  opacity:1;
  max-height:80px;
}


/* table transitions */

.bb-cool-trick-add{
	background-color: skyblue;
}

.bb-cool-trick-add-active{
	font-weight: bold;
}

.bb-cool-trick {
	font-size: 16px;
	-webkit-transition:all linear 0.2s;
	transition:all linear 0.2s;
	padding:10px;
}

/* table keyframe animations */
.bb-show-powers {
  -webkit-animation: super-cool-animation 0.2s;
  -moz-animation:    super-cool-animation 0.2s;
  -o-animation:      super-cool-animation 0.2s;
  animation:         super-cool-animation 0.2s; 
  font-size: 30px;
  background-color: rgba(0,0,0,0.05);
}

@-webkit-keyframes super-cool-animation {
  0%   { opacity: 0; font-size: 10px;}
  50%  {opacity: 0.5; font-size: 20px;}
  100% { opacity: 1; font-size: 30px;}
}
@-moz-keyframes super-cool-animation {
  0%   { opacity: 0; font-size: 10px;}
  50%  {opacity: 0.5; font-size: 20px;}
  100% { opacity: 1; font-size: 30px;}
}
@-o-keyframes super-cool-animation {
  0%   { opacity: 0; font-size: 10px;}
  50%  {opacity: 0.5; font-size: 20px;}
  100% { opacity: 1; font-size: 30px;}
}
@keyframes super-cool-animation {
  0%   { opacity: 0; font-size: 10px;}
  50%  {opacity: 0.5; font-size: 20px;}
  100% { opacity: 1; font-size: 30px;}
}