.videoThumbnail {
	width: 100px;
	height: 100px;
}

ul {
	list-style-type: none;
}

.jumbotron {
	font-size: 14px;
}

.fast {
	color: green;
}

.average {
	color: orange;
}

.slow {
	color: red;
}

.wideLoad {
	width: 100%;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  z-index: 1100;
  pointer-events: none;
}

.menuBar {
  fill: steelblue;
}

.menuBar:hover {
  fill: brown;
}

.graph .axis {
    stroke-width: 1;
}

.graph .axis .tick line {
    stroke: black;
}

.graph .axis .tick text {
    fill: black;
    font-size: 0.7em;
}

.graph .axis .domain {
    fill: none;
    stroke: black;
}

.graph .group {
    fill: none;
    stroke: black;
    stroke-width: 1.5;
}

.adjustTop{
  margin-top: 30px;
}

.bb-table-div{
  height: 730px;
  overflow: scroll;
  text-align: left;
}

.power{
  display: block;
  line-height: 10px;
}

.buttonSelect{
  margin-bottom: 16px;
}

