.videoThumbnail {
	width: 100px;
	height: 100px;
}

ul {
	list-style-type: none;
}

.jumbotron {
	font-size: 14px;
}

.fast {
	color: green;
}

.average {
	color: orange;
}

.slow {
	color: red;
}

.wideLoad {
	width: 100%;
}