<div class="jumbotron">
  <label>Flowplayer</label>
  <div class="alert">Select the Dots to change the Video.</div>
  <div class="btn btn-primary" ng-click="changeFlowPlayer()">{{buttonText}}</div>
  <div flowplayer video-config="activeVideo" template-url="{{currentFlowplayer}}"></div>
  <div ng-if="buttonText == 'Pre-Roll Player'"  class="alert">Playlists
    <div class="btn-group">
      <button ng-repeat="video in videos" class="btn" ng-click="setActiveVideo($index)">{{$index}}</button>
    </div>
  </div>
</div>
