<div class="well jumbotron container">
  <div class="bs-callout bs-callout-info alignTextLeft">
    <span>
        <h1>Mediaelement</h1>
    </span>
    <a href="http://mediaelementjs.com/">mediaelement.js</a>
    <p>This media-player directive is using a YouTube mediaelement template, that allows the video player to play YouTube videos. 
       If you type into the search box you will see YouTube statistics of views alongside of the search result</p>
  </div>
  <div class="alert alert-warning alignTextLeft">
    <label for="youtubeSearch">Search YouTube</label>
    <input type="text" name="youtubeSearch" ng-model="result" typeahead="suggestion as suggestion.title.$t for suggestion in videoSearch($viewValue)">
  </div>
  <label>{{activeVideo.title}}</label>
  <div media-player media-type="mediaelementplayer" video-config="activeVideo" template-url="{{currentMediaPlayer}}"></div>
  <div class="alert">Suggested Titles</div>
  <div class="btn-group">
    <div ng-repeat="video in videos" class="btn">
      <img ng-click="setActiveVideo($index)" class="thumbnail videoThumbnail" ng-src="{{video.thumbnail}}">
    </div>
  </div>
</div>
